@import '../../sass/Variables.scss';
@import '../../sass/Text.scss';

.CoveoViewedFilter {
    border-top: thin solid #bcc3ca;
    
    .coveo-facet-header-title {
        display: flex;
        flex-grow: 1;
    }
    
    .coveo-facet-value {
        background-color: white;
        opacity: 1;
        padding: 5px 20px 7px 20px;

        &:hover {
            background-color: #e6ecf0;
        }
    }
}